[data-theme='light'] {
  --primary-bg-color: #f7f7f7;
  --secondary-bg-color: #ffffff;
  --primary-text-color: #454545;
  --secondary-text-color: #737373;
  --primary-icon-color: #888;
  --primary-navlink-active: #d9edff;
  --primary-navlink-text-active: #3d3d3d;
}

[data-theme='dark'] {
  --primary-bg-color: #1a1a1b;
  --secondary-bg-color: #3d3d3d;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #737373;
  --primary-icon-color: #b0b0b0;
  --primary-navlink-active: #d9edff;
  --primary-navlink-text-active: #3d3d3d;
}
