@use './variables.scss';

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
